<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h2>Index page rendered</h2>
  
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis accusamus earum quidem vel eligendi repellendus, dolorem adipisci quod repudiandae deleniti aspernatur assumenda natus, asperiores praesentium! Totam, illum cupiditate? Provident, dignissimos!</p>

  <a href="/articles/new">Add Article</a>
</body>
</html>




