<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if(articles.length) { %>
    <% articles.forEach(article => { %>
      <div>
        <a href="/articles/<%= article.id %>">
          <h3><%= article.title %></h3>
        </a>
      </div>
    <% }) %>
  <% } else { %>
    <h3>No articles Found</h3>
  <% } %>
</body>
</html>